@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hero-border-width: 10rem;
}

body,
html {
  max-width: 100vw;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#mobile-menu[data-menu-state='closed'] {
  right: -100%;
}
#mobile-menu[data-menu-state='open'] {
  right: 0;
}

.boat-adventure-section-bg {
  background-repeat: no-repeat, repeat;
  background-color: #174790d0;
  background-image: url('./imgs/background2.webp');
  background-blend-mode: darken;
  background-position: center center;
  background-size: cover;
}

.white-horizontal-line::after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background: white;
  position: absolute;
  left: 105%;
  top: 50%;
}

.black-horizontal-line::after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background: black;
  position: absolute;
  left: 110%;
  top: 50%;
}

.nav-link {
  @apply font-normal hover:underline;
}

.services-section-list-item {
  @apply flex h-1/6 flex-col items-center justify-center gap-5 text-center sm:h-full sm:w-2/4 lg:w-[18%];
}

.services-section-img {
  @apply mb-3 h-10 w-auto lg:h-20;
}

.services-section-header {
  @apply font-urbanist text-base font-semibold text-yaleblue lg:text-xl;
}
.services-section-paragraph {
  @apply mb-4 h-20 w-10/12 text-center text-xs font-normal lg:text-sm lg:leading-6;
}

.services-section-btn {
  @apply h-8 w-36 rounded-l-full rounded-r-full border-2 bg-yaleblue text-[0.6rem] uppercase text-white hover:border-yaleblue hover:bg-white hover:text-yaleblue;
}

@media (max-width: 640px) {
  .white-horizontal-line::after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background: white;
    position: absolute;
    left: 105%;
    top: 50%;
  }
  .white-horizontal-line::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background: white;
    position: absolute;
    right: 105%;
    top: 50%;
  }
  .black-horizontal-line::after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background: black;
    position: absolute;
    left: 110%;
    top: 50%;
  }
  .black-horizontal-line::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background: black;
    position: absolute;
    right: 110%;
    top: 50%;
  }
}
